extends ../layouts/main

block content
    div(class="container")
        h1(class="title")
            | Box
        h2(class="subtitle")
            | A white <strong>box</strong> to contain other elements
        hr
        div(class="columns")
            div(class="column is-4")
                div(class="content")
                    p
                        | The <code>.box</code> element is simply a container with a shadow, a border, a radius, and some padding.
                        br
                        | For example, you can include a media object:
            div(class="column is-8")
                div(class="box")
                    article(class="media")
                        div(class="media-left")
                            figure(class="image is-64x64")
                                img(src="http://bulma.io/images/placeholders/128x128.png" alt="Image")
                        div(class="media-content")
                            div(class="content")
                                p
                                    | <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
                                    br
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                            nav(class="level is-mobile")
                                div(class="level-left")
                                    a(class="level-item")
                                        span(class="icon is-small")
                                            i(class="fa fa-reply")
                                    a(class="level-item")
                                        span(class="icon is-small")
                                            i(class="fa fa-retweet")
                                    a(class="level-item")
                                        span(class="icon is-heart")
                                            i(class="fa fa-retweet")

        hr(style"margin-bottom: 0;")

        h3(id="variables" class="title is-4")
            | Variables
        div(class="content")
            p
                | You can use these variables to <strong>customize</strong> this component. Simply set one or multiple of these variables <em>before</em> importing Bulma. <a href="http://bulma.io/documentation/overview/customize/">Learn how</a>.
        table(class="table is-bordered")
            thead
                tr
                    th
                        | Name
                    th
                        | Default value
            tfoot
                tr
                    th
                        | Name
                    th
                        | Default value
            tbody
                tr
                    td
                        code
                            | $box-color
                    td
                        code
                            | $text
                tr
                    td
                        code
                            | $box-background-color
                    td
                        code
                            | $white
                tr
                    td
                        code
                            | $box-radius
                    td
                        code
                            | $radius-large
                tr
                    td
                        code
                            | $box-shadow
                    td
                        code
                            | 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1)
                tr
                    td
                        code
                            | $box-padding
                    td
                        code
                            | 1.25rem
                tr
                    td
                        code
                            | $box-link-hover-shadow
                    td
                        code
                            | 0 2px 3px rgba($black, 0.1), 0 0 0 1px $link
                tr
                    td
                        code
                            | $box-link-active-shadow
                    td
                        code
                            | inset 0 1px 2px rgba($black, 0.2), 0 0 0 1px $link