doctype html
html
    include head
    section(class="hero is-primary")
        div(class="hero-body")
            div(class="container")
                h1(class="title")= "bulma-pug"
                h2(class="subtitle")= "Bulma templates in pug!"
        div(class="hero-footer")
            div(class="container")
                nav(class="tabs is-boxed")
                    ul
                        each navItem in ['overview', 'modifiers', 'grid', 'layout', 'form', 'elements', 'components']
                            li(class=routeName == navItem ? "is-active" : '')
                                a(href="/" + navItem)= navItem.ucFirst()
    nav(class="navbar has-shadow")
        div(class="container")
            div(class="navbar-brand")
                if routeName == 'overview'
                    each menuItem in ['customize', 'classes', 'modular', 'responsiveness', 'variables', 'colors', 'functions', 'mixins']
                        a(class="navbar-item is-tab" + (active == menuItem ? ' is-active' : ''), href="/overview/" + menuItem)= menuItem.ucFirst()
                else if routeName == 'modifiers'
                    each menuItem in ['helpers', 'responsive-helpers', 'syntax', 'typography-helpers']
                        a(class="navbar-item is-tab" + (active == menuItem ? ' is-active' : ''), href="/overview/" + menuItem)= menuItem.ucFirst()
                else if routeName == 'grid'
                    each menuItem in ['columns', 'tiles']
                        a(class="navbar-item is-tab" + (active == menuItem ? ' is-active' : ''), href="/overview/" + menuItem)= menuItem.ucFirst()
                else if routeName == 'layout'
                    each menuItem in ['container', 'footer', 'hero', 'section']
                        a(class="navbar-item is-tab" + (active == menuItem ? ' is-active' : ''), href="/overview/" + menuItem)= menuItem.ucFirst()
                else if routeName == 'form'
                    each menuItem in ['checkbox', 'files', 'general', 'input', 'radio', 'select', 'textarea']
                        a(class="navbar-item is-tab" + (active == menuItem ? ' is-active' : ''), href="/overview/" + menuItem)= menuItem.ucFirst()
                else if routeName == 'elements'
                    each menuItem in ['box', 'button', 'content', 'delete', 'icon', 'image', 'notification', 'progress', 'table', 'tag', 'title']
                        a(class="navbar-item is-tab" + (active == menuItem ? ' is-active' : ''), href="/overview/" + menuItem)= menuItem.ucFirst()
                else if routeName == 'components'
                    each menuItem in ['breadcrumb', 'card', 'dropdown', 'level', 'media-object', 'menu', 'message', 'modal', 'navbar', 'pagination', 'panel', 'tabs' ]
                        a(class="navbar-item is-tab" + (active == menuItem ? ' is-active' : ''), href="/overview/" + menuItem)= menuItem.ucFirst()
        section(class="section")
            div(class="container")
                block content
    include footer