doctype html
html
    include head
    section(class="hero is-primary")
        div(class="hero-body")
            div(class="container")
                h1(class="title")= "bulma-pug"
                h2(class="subtitle")= "Bulma templates in pug!"
        div(class="hero-footer")
            div(class="container")
                nav(class="tabs is-boxed")
                    ul
                        li(class="is-active")
                            a(href="/")= "Home"
    nav(class="navbar has-shadow")
        div(class="container")
            div(class="navbar-brand")
                a(class="navbar-item is-tab" + (active == 'index' ? ' is-active' : ''), href="/")= "Index"
                a(class="navbar-item is-tab" + (active == 'insert' ? ' is-active' : ''), href="/insert")= "Insert"
    body
        section(class="section")
            div(class="container")
                block content
    include footer