extends ../layouts/main

block content
    div(class="container")
        h1(class="title")
            | Getting started
        h2(class="subtitle")
            | You only need <strong>1 CSS file</strong> to use Bulma
        hr
        div(class="content")
            p
                | There are several ways to <strong>get started</strong> with Bulma. You can either:
            ol
                li
                    | use <strong>npm</strong> to install the Bulma package
                li
                    | use the cdnjs <strong>CDN</strong> to link to the Bulma stylesheet
                li
                    | use the <strong>GitHub repository</strong> to get the latest development version
        article(class="media is-large")
            div(class="media-left")
                p(class="title is-5")
                    | 1
            div(class="media-content")
                p(class="title is-5")
                    | Use <strong>NPM</strong> <em>(recommended)</em>:
                figure(class="highlight")
                | <pre><code class="language-bash" data-lang="bash">npm install bulma</code></pre><button class="copy">Copy</button>
        article(class="media is-large")
            div(class="media-left")
                p(class="title is-5")
                    | 2
            div(class="media-content")
                p(class="title is-5")
                    | Use the <a href="https://cdnjs.com/" target="_blank">cdnjs</a> <strong>CDN</strong>
                    br
                    | <a href="https://cdnjs.com/libraries/bulma">https://cdnjs.com/libraries/bulma</a>
        article(class="media is-large")
            div(class="media-left")
                p(class="title is-5")
                    | 3
            div(class="media-content")
                p(class="title is-5")
                    | Download from the <strong>repository</strong>
                br
                | <a href="https://github.com/jgthms/bulma/tree/master/css">https://github.com/jgthms/bulma/tree/master/css</a>
        hr
        div(class="message is-info")
            div(class="message-header")
                | Font Awesome icons
            div(class="message-body")
                p
                    | If you want to use icons with Bulma, don't forget to include <a href="https://fortawesome.github.io/Font-Awesome/">Font Awesome</a>:
                figure(class="highlight")
                    <pre><code class="language-html" data-lang="html"><span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"</span><span class="nt">&gt;</span></code></pre><button class="copy">Copy</button>
        hr(style="margin-bottom: 0;")

        h3(id="starter-template" class="title anchor-title")
            | Starter template
            a class="anchor-link" href="#starter-template">

        div(class="content")
            p
                | If you want to get started <strong>right away</strong>, you can use this <strong>HTML starter template</strong>. Just copy/paste this code in a file and save it on your computer.
        div(class="example highlight-full")
            figure(class="highlight")
                | <pre><code class="language-html" data-lang="html"><span class="cp">&lt;!DOCTYPE html&gt;</span>
                | <span class="nt">&lt;html&gt;</span>
                | <span class="nt">&lt;head&gt;</span>
                | <span class="nt">&lt;meta</span> <span class="na">charset=</span><span class="s">"utf-8"</span><span class="nt">&gt;</span>
                | <span class="nt">&lt;meta</span> <span class="na">name=</span><span class="s">"viewport"</span> <span class="na">content=</span><span class="s">"width=device-width, initial-scale=1"</span><span class="nt">&gt;</span>
                | <span class="nt">&lt;title&gt;</span>Hello Bulma!<span class="nt">&lt;/title&gt;</span>
                | <span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"</span><span class="nt">&gt;</span>
                | <span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.0/css/bulma.min.css"</span><span class="nt">&gt;</span>
                | <span class="nt">&lt;/head&gt;</span>
                | <span class="nt">&lt;body&gt;</span>
                | <span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"section"</span><span class="nt">&gt;</span>
                | <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
                | <span class="nt">&lt;h1</span> <span class="na">class=</span><span class="s">"title"</span><span class="nt">&gt;</span>
                | Hello World
                | <span class="nt">&lt;/h1&gt;</span>
                | <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"subtitle"</span><span class="nt">&gt;</span>
                | My first website with <span class="nt">&lt;strong&gt;</span>Bulma<span class="nt">&lt;/strong&gt;</span>!
                | <span class="nt">&lt;/p&gt;</span>
                | <span class="nt">&lt;/div&gt;</span>
                | <span class="nt">&lt;/section&gt;</span>
                | <span class="nt">&lt;/body&gt;</span>
                | <span class="nt">&lt;/html&gt;</span></code></pre><button class="copy">Copy</button>
