extends ../layouts/main

block content
    div(class="container")
        h1(class="title")
            | Helpers
        h2(class="subtitle")
            | You can apply <strong>responsive helper classes</strong> to almost any element, in order to alter its style based upon the browser's width.
        hr
        table(class="table is-bordered")
            tbody
                tr
                    th(rowspan="3")
                        | Float
                    td
                        code
                            | is-clearfix
                    td
                        | Fixes an element's floating children
                tr
                    td
                        code
                            | is-pulled-left
                    td
                        | Moves an element to the left
                tr
                    td
                        code
                            | is-pulled-right
                    td
                        | Moves an element to the right
                tr
                    th(rowspan="2")
                        | Spacing
                    td
                        code
                            | is-marginless
                    td
                        | Removes any <strong>margin</strong>
                tr
                    td
                        code
                            | is-paddingless
                    td
                        | Removes any <strong>padding</strong>
                tr
                    th(rowspan="5")
                        | Other
                    td
                        code
                            | is-overlay
                    td
                        | Completely covers the first positioned parent
                tr
                    td
                        code
                            | is-clipped
                    td
                        | Adds overflow <strong>hidden</strong>
                tr
                    td
                        code
                            | is-radiusless
                    td
                        | Removes any <strong>radius</strong>
                tr
                    td
                        code
                            | is-shadowless
                    td
                        | Removes any <strong>shadow</strong>
                tr
                    td
                        code
                            | is-unselectable
                    td
                        | Prevents the text from being <strong>selectable</strong>